<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataManagementService" maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
        

      </basicHttpBinding>
    </bindings>
    <!--<client>
      <endpoint address="http://localhost/DataManagementService/DataManagementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataManagementService"
        contract="DataManagementService.IDataManagementService" name="BasicHttpBinding_IDataManagementService" />
    </client>-->
    <client>
      <endpoint address="http://localhost:5100/DataManagementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataManagementService"
        contract="DataManagementService.IDataManagementService" name="BasicHttpBinding_IDataManagementService" />
    </client>
  </system.serviceModel>
</configuration>